.DS_Store
/.idea/shelf/Uncommitted_changes_before_Checkout_at_21_03_2023,_17_43_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_21_03_2023,_17_43_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_21_03_2023,_18_07_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_21_03_2023,_18_07_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_22_03_2023,_19_33_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_22_03_2023,_19_33_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_24_03_2023,_20_51_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_24_03_2023,_20_58_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_24_03_2023,_21_02_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_24_03_2023,_21_08_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_24_03_2023,_21_59_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_24_03_2023,_22_07_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_24_03_2023,_22_10_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_21_03_2023__17_43__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_21_03_2023__18_07__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_22_03_2023__19_33__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_24_03_2023__20_51__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_24_03_2023__20_58__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_24_03_2023__21_02__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_24_03_2023__21_08__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_24_03_2023__21_59__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_24_03_2023__22_07__Changes_.xml
